<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ida:AadInstance" value="https://xxxxxx.b2clogin.com/ADB2CCustomGmail.onmicrosoft.com/{1}/v2.0/.well-known/openid-configuration" />
		<add key="ida:Tenant" value="xxxxxx.onmicrosoft.com" />
		<add key="ida:ClientId" value="1c420317-c03c-4516-88d6-3a18a9682916" />
		<add key="ida:SignUpPolicyId" value="B2C_1A_SIGNUP_SIGNIN" />
		<add key="ida:SignInPolicyId" value="B2C_1A_SIGNUP_SIGNIN" />
		<add key="ida:UserProfilePolicyId" value="B2C_1A_PROFILEEDIT" />

		<add key="ida:Issuer" value="https://xxxxxx.b2clogin.com/b7f04b81-3826-44ee-8c95-19a02d570314/v2.0/" />
		<add key="ida:Audience" value="787ed07a-dddb-412f-9b4c-c17107ce5123" />
		<add key="ida:Modulus" value="wWV1Mnth78SXaFbm43jQnU-aWLhjZdTLZWGvt-2AC0tQblM2YabP3VuI6yqRcnD42cTRoO2C8oSSDwn-L7OJcDa8XWzWXO_C2_cXAvGfsyFqRGiw-Hh5S8x98p7-ed-Yyfc4iHTZ4z9TD5MifYDNFbQpds5h5-6S8TWHG0JadcmHQdHb4Bqmg10kRdLt4pIgUy-tqIr9XReYREIg6tMJnBrTAPB-sS4V5ujUsd0DZhVDhAI17EZEwoMtmEbuBG9f95MfuTul4DihWZ7oHVMglz1e0ztN5BvqS5HsKnbTJUCQXuDr0Qbx0AzEDOBuVS4-fUbu6Lo27TbRYGGidvjPXQ" />
		<add key="ida:Exponent" value="AQAB" />
		<add key="owin:appStartup" value="B2CAuth.Lib.Startup" />

	</appSettings>
</configuration>